// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-list{
  width: 50%;
  margin: 0 auto !important;
  h1{
    text-align: center;
  }
}

#main-container{
  height: 100%;
  width: 95%;
  #left-container{
    width: 80%;
    height: 100%;
  }

  #right-container{
    width: 20%;
    height: 100%;
    border: 1px solid black;
  }

}
