<div class="container">
  <h1>To Do</h1>

  <form id="create-list">
    List Name:<br>
    <input type="text" name="listName">
    <br>
    <button id="listSubmit">Submit</button>
  </form>

  <form id="create-task">
    Name:<br>
    <input type="text" name="name">
    <br>
    Description:<br>
    <input type="text" name="description">
    <br>
    Due Date/Time:<br>
    <input type="text" name="dueDate">
    <br>
    Date Created:<br>
    <input type="text" name="dateCreated">
    <br>
    <button id="submit">Submit</button>
  </form>
</div>
